html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}


body {
  background-color: #7398A6;
  background-position: center;
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.topo {
  background-color: #7398A6; 
  padding: 0px;
  width: 100%;
  height: auto;
  margin: 40px auto; 
  border: 1px solid white;
  text-align: center;
  border-top: 0cm;
  margin-bottom: 30px;
}

.logo {
  font-family: 'IM FELL Great Primer SC', serif;
  font-size: 36px;
  color: white;
  font-weight: lighter;
  margin: 0;
}


.search-box {
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
}

.search-box input[type="text"] {
  width: 70%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-box input[type="text"]:focus {
  border-color: #007bff;
}


.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.icons a {
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #007bff;
}

.icons .material-icons {
  font-size: 48px;
  margin-bottom: 5px;
}

.icons p {
  font-size: 0.9rem;
}

header h1 a {
  text-decoration: none;  
  color: inherit;         
}

.mapa img {
  width: 100%;           
  height: 90%;
  max-width: 600px;     
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto 0 auto;
  display: block;
}



h2 {
  margin-bottom: 20px;
  color: #222;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  justify-items: center;
  padding: 20px 0;
  width: 100%;
}


.worker-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  transition: transform 0.2s;
}

.worker-card:hover {
  transform: scale(1.03);
}

.worker-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.worker-card .info {
  padding: 10px;
  font-size: 0.95rem;
  color: #333;
}


footer, .footer {
  margin-top: 200px;
  font-family: 'IM FELL Great Primer SC', serif;
  font-weight: lighter;
  background-color: #7398A6;
  color: white;
  text-align: left;
  border-top: 1px solid white;
}

.footer_icons{
  text-align: right;
}
.footer_icons a {
  text-decoration: none;
}
.footer_icons img {
  text-decoration: none;
  height: 30px;
  width: auto;
  object-fit: contain;
}
