html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.logo {
    font-family: 'IM FELL Great Primer SC', serif;
    font-weight: lighter;
    font-size: 30px;
    color: black;
    padding-top: -10px;
}


.topo {
    background-image: url('../img/pexels-photo-106399.jpeg');
    background-size: cover;
    background-position: center;
    height: 590px;
    position: relative;
}


.bola_1, .bola_2, .bola_3 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #585656;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.bola_1:hover, .bola_2:hover, .bola_3:hover, .butao1:hover {
    transform: scale(1.2);
}

.bola_1 {
    top: 120px;
    left: 46%;
}

.bola_2 {
    top: 230px;
    left: 56%;
}

.bola_3 {
    top: 230px;
    left: 36%;
}
.butao1{
    position: absolute;
    bottom: 40px;
    left: 42%;
    padding: 15px 35px;
    background-color: #2563EB;
    color: white;
    border-width: 0;
    font-family: 'IM FELL Great Primer SC', serif;
    font-weight: lighter;
    font-size: 23px;
    transition: transform 0.3s ease;
    border-radius: 36px;

}

.material-symbols-outlined {
    font-size: 70px;
    color: #7398A6;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
.passos {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 250px; 
}

.passo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo {
    background-color: white;
    padding: 60px 20px;
    text-align: center;
}
.conteudo > h2 {
    margin-bottom: 90px; 
}
.bola {
    width: 100px;
    height: 100px;
    background-color: #585656;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.dentro_bola{
    color:white;
}


.text_bola {
    margin-top: 15px;
    font-size: 20px;
    color: black;
}
.conjuntos{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}
.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa{
    background-color: #afadad;
    height: 200px;
    width: 350px;
    border-radius: 25px;

}
.titulo_caixa{
    color:black;
    font-size:larger;
}
.titulo_caixa2{
    color: #423F3F;

}

footer, .footer {
    font-family: 'IM FELL Great Primer SC', serif;
    font-weight: lighter;
    margin: 0;
    padding: 20px;
    background-color: #7398A6;
    color: white;
}
.footer_icons{
    text-align: right;
}
.footer_icons a {
    text-decoration: none;
}
.footer_icons img {
    text-decoration: none;
    height: 30px;
    width: auto;
    object-fit: contain;
  }