html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    background-color: #7398A6;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.topo {
    background-color: #7398A6; 
    padding: 0px;
    width: 100%;
    height: auto;
    margin: 40px auto; 
    border: 1px solid white;
    text-align: center;
    border-top: 0cm;
    margin-bottom: 30px;
}

.logo {
    font-family: 'IM FELL Great Primer SC', serif;
    font-size: 36px;
    color: white;
    font-weight: lighter;
    margin: 0;
}


.caixa {
    background-color: #bec2c5;
    box-shadow: 0 4px 8px rgba(0,0,0.2,0.3);
    padding: 40px;
    border-radius: 25px;
    width: 250px;
    height: 220px;
    margin-bottom: 200px;
    margin-top: 190px;
    align-items: center;
    margin-bottom: 325px;
}

.caixa input[type="email"],
.caixa input[type="password"]{
    padding-left:12px;
    text-align: left;
    font-size: large;
    width: 100%;
    height:25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    margin: 10px auto; 
    padding: 8px 0;
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 60%;
    border: none;
    border-radius: 5px;
}

button#google-login-btn {
    width: 190px;
    margin-top: 10px;
    padding: 8px;
    background-color: #ffffff;
    color: #444;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
}

button#google-login-btn:hover {
    transform: scale(1.02);
    background-color: #cac9c9;
}

input.entrar {
    height: 40px;
    width: 100%;
    background-color: #3A7CA5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input.entrar:hover {
    background-color: #2d6588;
    transform: scale(1.02);
}
.texto-criar-conta {
    text-align: center;
    color: white;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .criarconta {
    color: #3A7CA5; 
    text-decoration: none;
    font-weight: bold;
    font-weight: bolder;
    font-size: larger;
  }
  
  .criarconta:hover {
    text-decoration: none;
    color: #295d7d;

  }
  
.caixa a {
    display: block;
    text-align: center;
    margin-top: 5px;

}

footer, .footer {
    font-family: 'IM FELL Great Primer SC', serif;
    font-weight: lighter;
    background-color: #7398A6;
    color: white;
    text-align: left;
    border-top: 1px solid white;
}

.footer_icons{
    text-align: right;
}
.footer_icons a {
    text-decoration: none;
}
.footer_icons img {
    text-decoration: none;
    height: 30px;
    width: auto;
    object-fit: contain;
}



